:root {
  --boxshadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.5);
  --transparent: rgba(0, 0, 0, 0.5);
  --shadow: rgba(0, 0, 0, 0.5);
  --room-four: #00c300;
  --room-three: #008c00;
  --room-two: #006800;
  --room-one: #004900;
  --room-zero: #003000;
  --primary-light-green: #72e67e;
  --primary-green: #0f0;
  --primary-deep-green: #07e107;
  --primary-black: #000;
  --primary-deep-black: #181818;
  --primary-light-black: #1c1c1c;
  --primary-gray-black: #222;
  --primary-deep-gray: #333;
  --primary-light-gray: #444;
  --primary-morelight-gray: #555;
  --primary-mostlight-gray: #888;
  --primary-gray: #aaa;
  --primary-white: #fff;
  --text-light-green: #72e67e;
  --text-green: #0f0;
  --text-white: #fff;
  --text-gray: #aaa;
  --text-gray-black: #222;
  --text-deep-gray: #333;
  --text-room: #fff;
}
/* :root {
  --boxshadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
  --transparent: rgba(255, 255, 255, 0.5);
  --shadow: rgba(0, 0, 0, 0.2);
  --room-four: #005eff;
  --room-three: #0084ff;
  --room-two: #00a6ff;
  --room-one: #00d5ff;
  --room-zero: #74e8ff;
  --primary-light-green: #00c3ff;
  --primary-green: #00b3ff;
  --primary-deep-green: #0099ff;
  --primary-black: #cfcfcf;
  --primary-deep-black: #f0f0f0;
  --primary-light-black: #fdfdfd;
  --primary-gray-black: #f9f9f9;
  --primary-deep-gray: #f9f9f9;
  --primary-light-gray: #ebebeb;
  --primary-morelight-gray: #dadada;
  --primary-mostlight-gray: #cccccc;
  --primary-gray: #7a7a7a;
  --primary-white: #605f5f;
  --text-light-green: #00c3ff;
  --text-green: #00b3ff;
  --text-white: #646363;
  --text-gray: #748c8f;
  --text-gray-black: #ffffff;
  --text-deep-gray: #e6e6e6;
  --text-room: #fff;
} */
